# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/projetos/mariamole/robos/PS2X_Example/build
/projetos/mariamole/robos/hexapod/build
/projetos/mariamole/robos/rastejador/build
/projetos/mariamole/robos/SegueFaixaRodrigo/build
